<% layout('layouts/template') %>

<div class="d-flex flex-column mb-3">
  <div class="d-flex justify-content-center">
    <div class="p-2 mt-2 mb-2">
        <img class="img-fluid" src="https://media.istockphoto.com/photos/barbecue-grill-with-fire-flames-empty-fire-grid-on-black-background-picture-id1323401361?b=1&k=20&m=1323401361&s=170667a&w=0&h=1CkgHKAgOkGcoFeBkZcBUxKoNbAz7LSE8LvSzAxy0GA=">
    </div>
    <div class="p-2 mt-2 mb-2">
       <p class="pt-3 mb-3">ALL MEATS GRILL FRESH ALL DAY!!</p>
       <p class="pt-3 mb-3">OPEN FROM 11:00 AM TO 12:00 PM!!</p>
       <a class="btn btn-primary pt-2" href="/menu/order/index">Order Now!!!</a>
    </div>
  </div>
  <div class="d-flex flex-row mb-3">
    <div class="p-2">
       <img class="img-fluid" src="https://images.unsplash.com/photo-1554306297-0c86e837d24b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Z3JpbGx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
    </div>
    <div class="p-2">
       <img class="img-fluid" src="https://images.unsplash.com/photo-1485677959733-60c357f80d3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Z3JpbGx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
    </div>
  </div>
  <div class="d-flex flex-row mb-3">
    <div class="p-2">
       <img class="img-fluid" src="https://images.unsplash.com/photo-1526213174737-acd9757c6bf3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGdyaWxsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
    </div>
    <div class="p-2">
       <img class="img-fluid" src="https://images.unsplash.com/photo-1589854880846-842b8fe2ba4b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGdyaWxsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
    </div>
  </div>
  <div class="d-flex flex-row mb-3">
    <div class="p-2">
       <img class="img-fluid" src="https://images.unsplash.com/photo-1544025162-d76694265947?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGdyaWxsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
    </div>
    <div class="p-2">
       <img class="img-fluid" src="https://images.unsplash.com/photo-1529692236671-f1f6cf9683ba?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGdyaWxsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60">
    </div>
  </div>
</div>
 


